services:
  web:
    image: odoo:17
    depends_on:
      - db
    ports:
      - "8069:8069"
    command: |
      odoo
        --db_host=db
        --db_port=5432
        --db_user=odoo
        --db_password=odoo
    volumes:
      - ./addons:/mnt/extra-addons
      - odoo-web-data:/var/lib/odoo

  db:
    image: postgres:15
    environment:
      - POSTGRES_DB=odoo
      - POSTGRES_USER=odoo
      - POSTGRES_PASSWORD=odoo
    volumes:
      - odoo-db-data:/var/lib/postgresql/data

volumes:
  odoo-web-data:
  odoo-db-data:
